<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>exam S2-3-F-A22</title>
</head>
<body>
  <nav>
    <div class="btn-wrapper" style="margin:1rem; display:grid; grid-template-columns:minmax(400px, 1fr) 0.5fr 0.5fr 0.5fr; grid-template-rows: 1fr;">
      <a href="/" style="background-color:gray; border-radius:5px; padding:16px; margin:0.5rem; width:100px">回到首頁</a>
      <a href="/about" style="background-color:gray; border-radius:5px; padding:16px; margin:0.5rem; width:100px">About</a>
      <a href="/profolio" style="background-color:gray; border-radius:5px; padding:16px; margin:0.5rem; width:100px">Profolio</a>
      <a href="/contact" style="background-color:gray; border-radius:5px; padding:16px; margin:0.5rem; width:100px">Contact</a>
    </div>
  </nav>

  {{{body}}}
</body>
</html>